*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}



.banner{
    background-color: rgb(0, 149, 255);
    padding:18px;
    display:flex;
    justify-content: space-around;
    height:67px;

}
.Elearning{
    color:#e5e7eb;
    text-align: left;
    display:flex;
    justify-content: space-around;
}

.search{
    width:100%;
    max-width:500px;
    height:45px;
    padding:0 20px; 
}

.menu a{
    color:rgb(255, 255, 255);
    margin:20px;
}

.welcome-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    padding: 25px 30px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1);
    max-width: 1000px;
      margin: 40px auto;

}

.welcome-left h2 {
    margin: 0;
    font-size: 22px;
    color: #111;
}

.welcome-left p {
    margin-top: 6px;
    color: #555;
    font-size: 14px;
}

.welcome-right {
    text-align: right;
    min-width: 220px;
}

.progress-text {
    font-size: 14px;
    color: #333;
}

.progress {
    margin-top: 8px;
    width: 200px;
    height: 8px;
    background: #e5e7eb;
    border-radius: 20px;
    overflow: hidden;
    margin-left: auto;
}

.progress-bar {
    width: 68%;
    height: 100%;
    background: #2563eb;
    border-radius: 20px;
}

